body {
    font-family: "Arial Narrow", "Arial", sans-serif;
    font-size: 25px;
}

h1 {
    padding-bottom: 0px;
    margin-bottom: -24px;
}

.yaltapedia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;        /* Makes the container fill the full screen height */
}

.yaltapedia-description {
    margin-top: 20px;
    width: 30%;
    /* text-align: justify;    Aligns text to both the left and right edges */
}